@import "../../../cssVariables/__var.scss";

.header{
display: flex;
padding: 10px;
border-bottom: 1px solid black;
flex-direction: column;

    &__addNote{
        margin-right: 20px;
    }
    &__controllers{
        display: flex;
        margin: 0 auto;
        max-width: $container;
    }
    &__navTags{
        max-width: $container;
        margin: 0 auto;
    }
    &__navTagsList{
        list-style: none;
        display: flex;
    }
    &__navTagsitem{
        cursor: pointer;
        font-family: 'Roboto', sans-serif;
        font-size: 25px;
        &:hover{
            color: blue;
        }
        &:not(:last-child){
            margin-right: 15px;
            
        }
    }
}