.itemToDo{
    position: relative;
    border-bottom: 1px solid black;
    padding: 20px;
    position: relative;
    &__textAreaWrapper{
        position: absolute;
        display: flex;
        flex-direction: column;
        right: 0;
    }
    &__formCloser{
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        z-index: 199;
        background-color: gray;
        opacity: 0.2;
    }
    &__addButton{
        cursor: pointer;
        z-index: 200;

    }
    &__textArea{
        z-index: 200;
   
        background-color: white;
    }
    &__editIcon{
        position: absolute;
        right: 80px;
        cursor: pointer;
    }

    &__deleteButton{
        position: absolute;
        cursor: pointer;
        right: 20px;
        border: none;
        background-color: white;
        font-size: 20px;

    }
    &__tagsList{
        display: flex;
        list-style: none;
        padding: 20px 0 20px 0;
    
  
    }

    &__tagsListItem{
        cursor: pointer;
        &:not(:last-child){
            margin-right: 30px;
        }
        &:hover{
            color: blue;
        }
    }

}

.hashtag{
    color: red;
}